    :root {
        --accent-color: #4D5AE5;
        --color: #2e2f42;
    }

    v body {
        font-family: "Roboto", sans-serif;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style-type: none;
    }

    /*----------------HEADER----------------*/
    .header-logo-link {
        color: var(--color);
        font-size: 18px;
        font-family: "Raleway";
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .logo-accent {
        color: var(--accent-color);
        font-size: 18px;
        font-family: "Raleway";
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .header-menu-link {
        color: var(--color);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--accent-color);
    }

    .header-contacts-link {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: var(--accent-color);
    }

    /*!------------------------HERO------------------*/
    .hero {
        background-color: var(--color);
    }

    .hero-title {
        color: #ffffff;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.03;
        letter-spacing: 0.02em;
    }


    .hero-button {
        color: #ffffff;
        /* Button Text */
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.5;
        /* 24px/16 */
        letter-spacing: 0.0em;
        /* 0.64px/16 */
        border-radius: 4px;
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    }

    /**-------------ADVANAGES---------------*/
    .advantages {}

    .advantages-list {}

    .advantages-item {}

    .advantages-subtitle {
        color: var(--color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }


    .advantages-item-text {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /*!-----------------------DOING------------------*/
    .doing {}

    .doing-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .doing-list {}

    .doing-item {}

    .doing-img {}

    /*----------------TEAM----------------*/
    .team {}

    .team-title {
        color: var(--color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .team-list {}

    .team-item {}

    .team-img {}

    .team-subtitle {
        color: var(--color);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
    }

    .team-subtile-text {
        color: #434455;
        text-align: center;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
    }

    /*?----------------FOOTER---------------*/
    .footer {
        background-color: var(--color);
    }


    .logo {}

    .footter-logo-link {
        color: #F4F4FD;
        font-size: 18px;
        font-family: "Raleway";
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .logo-accent {
        color: var(--accent-color);
        font-size: 18px;
        font-family: "Raleway";
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .fooer-text {
        color: #D9D9D9;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
    }

    /*?-----------------PORTFOLIO----------------*/
    .porfolio {}

    .porfolio-list-nav {}

    .portfolio-nav-item {}


    .porfolio-button {
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }

    .porfolio-button.dark {
        color: #ffffff;
        background-color: #404BBF;
    }

    .porfolio-button.light {
        color: var(--accent-color);
        background-color: #F4F4FD;
    }

    .portfolio-list-card {}

    .portfolio-card-item {}

    .portfolio-card-title {
        color: var(--color);
        font-size: 20px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .portfolio-card-link {}

    .portfolio-card-subtitle {
        color: #434455;
        font-size: 16px;
        font-family: inherit;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .portfolio-subile-link {}