    :root {
        --accent-color: #4D5AE5;
        --color: #2e2f42;
        --add-color: #434455;
        --light-color: #ffffff;
    }

    body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #ffffff;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style-type: none;
    }

    .hed2 {
        color: var(--color);
        text-align: center;
        font-family: inherit;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;

    }

    .hed3 {
        color: var(--color);
        font-size: 20px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .text {
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .button {
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }

    /*----------------HEADER----------------*/
    header-adress {
        font-style: normal;
    }

    .logo {
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        /* display: flex;*/
        flex-direction: column;
        justify-content: center;
    }

    .header-logo-link {
        color: var(--accent-color);
        /* width: 44px;
        height: 21px;*/
    }

    .logo-accent {
        color: var(--color);
        width: 71px;
    }

    .header-menu-link {
        color: var(--color);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404bbf;
    }

    .header-contacts-link {
        color: var(--add-color);
        font-family: inherit;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
    }

    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: #404bbf;
    }

    /*!------------------------HERO------------------*/
    .hero {
        background-color: var(--color);

    }

    .hero-title {
        color: var(--light-color);
        text-align: center;
        font-family: inherit;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .hero-button {
        color: var(--light-color);
        background-color: #4D5AE5;
    }

    /**-------------ADVANAGES---------------*/
    .advantages {}

    .advantages-list {}

    .advantages-item {}

    .advantages-subtitle {
        text-align: center;
    }

    .advantages-item-text {
        color: var(--add-color);
    }

    /*!-----------------------DOING------------------*/
    .doing {}

    .doing-title {}

    .doing-list {}

    .doing-item {}

    .doing-img {}

    /*----------------TEAM----------------*/
    .team {
        background-color: #F4F4FD;
    }

    .team-title {}

    .team-list {
        background-color: var(--light-color);
    }

    .team-item {}

    .team-img {}

    .team-subtitle {
        text-align: center;
    }

    .team-subtile-text {
        color: var(--add-color);
        text-align: center;
    }

    /*?----------------FOOTER---------------*/
    .footer {
        background-color: var(--color);
    }

    .logo-accent.light {
        color: #F4F4FD;
    }

    .footter-logo-link {
        color: var(--accent-color);
        /*width: 44px;
        height: 21px;*/
    }

    .footer-text {
        color: #F4F4FD;

    }

    /*?-----------------PORTFOLIO----------------*/
    .porfolio {}

    .porfolio-list-nav {}

    .portfolio-nav-item {}

    .porfolio-button {}

    .porfolio-button.dark {
        color: var(--light-color);
        background-color: #404BBF;
    }

    .porfolio-button.light {
        color: var(--accent-color);
        background-color: #F4F4FD;
    }

    .portfolio-list-card {}

    .portfolio-card-item {}

    .portfolio-card-title {}

    .portfolio-card-link {}

    .portfolio-card-subtitle {
        color: var(--add-color);
    }

    .portfolio-subile-link {}